.achievements{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.achievement-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.achievement-list{
    width: 50%;
}
.achievement-list-item{
    margin-top: -6px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.achievement-image{
    width: 40%;
}

.achievement-certificate-button{
    font-size: 14px;
    text-decoration: none;
    color: black;
    background-color: aquamarine;
    margin-left: 4px;
    padding: 4px 8px;
    border-radius: 4px;
}

@media only screen and (max-width:720px) {
    .achievement-section{
        flex-direction: column;
    }

    .achievement-image{
        width: 80%;
    }

    .achievement-list{
        width: 80%;
    }

    .achievement-list-item{
        font-size: 16px;
        display: flex;
        flex-direction: column;
    }

    .achievement-certificate-button{
        margin-left: 0px;
    }
}