.footer{
    padding: 12px;
    display: flex;
    justify-content: center;
    margin-top: 12px;
    align-items: center;
}

.footer-icon{
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }