.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;
    padding-bottom: 48px;
    height: 90vh;
}
.about-top{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.picture{
    height: 560px;
}

.about-info{
    font-size: 24px;
}

.hand-icon{
    height: 24px;
}

.info-name{
    color: blueviolet;
    font-size: 38px;
    font-weight: 500;
}

.about-social-section{
    margin-top: 12px;
}

@media only screen and (max-width: 720px){
    .about-top{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .picture{
        height: 280px;
    }
    .about-info{
        font-size: 20px;
        margin-bottom: 24px;
    }
    .info-name{
        font-size: 26px;
    }
}